@tailwind base;
@tailwind components;
@tailwind utilities;

/* rgb(69, 66, 66) */

@layer base {
  html {
    @apply bg-gradient-to-b from-gray-400  to-gray-400;
  }
}

.node__root > circle {
  fill: #79b8ff;
  stroke: #004e96;
  stroke-width: 2px;
}

.node__branch > circle {
  fill: #79b8ff;
  stroke: #004e96;
  stroke-width: 2px;
}

.node__leaf > circle {
  fill: yellow;
  stroke: #000;
  stroke-width: 2px;
}

.custom-link {
  stroke: #ccc;
  stroke-width: 2px;
  fill: none;
}
